[submodule "librfxcodec"]
	path = librfxcodec
	url = https://github.com/Nexarian/librfxcodec.git
	branch = egfx_mainline_merge
	ignore = untracked

[submodule "libpainter"]
	path = libpainter
	url = https://github.com/neutrinolabs/libpainter.git
	branch = .
	ignore = untracked
